@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-primary-9: #434952;
  --clr-primary-5: #555d69;
  --clr-primary-4: #8d9ca4;
  --clr-primary-2: #c3cace;
  --clr-secondary-2: #f4f3ef;
  --clr-secondary-5: #ffedcb;
  --clr-secondary-5-light: #ffedcb7a;
  --clr-accent: #44ee88;
  --clr-accent-light: #31a9612c;

  --ff-primary: "Roboto", sans-serif;
  --ff-accent: "Ubuntu", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--clr-primary-2);
  background: var(--clr-primary-9);
  font-family: var(--ff-primary);
}

h1,
h2,
h3 {
  font-family: var(--ff-accent);
  color: var(--clr-secondary-2);
}

@layer components {
  .largeKey {
    @apply grid place-items-center py-3 px-6 bg-[--clr-primary-2] rounded-lg font-medium text-[--clr-primary-9];
  }
}

.ff-accent {
  font-family: var(--ff-accent);
}
